<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div id='box'>
            <h1>{{>header}}</h1>
            <form action="" id='weatherForm'>
                <label for="location">Enter location to get weather forecast</label>
                <input type="text" name="location" id="address">
                <button>Submit</button>
                <p>
                    <label for="" id='location'></label><br>
                    <label for="" id='forecast'></label>
                    <label for="" id='error'></label>
                </p>

            </form>
            
        </div>   
        <script src="/js/app.js"></script>
    </body>
</html> 