h1 {
    color: rgb(39, 36, 36)
}

#box{
    width: 540px;
    margin: auto;
    border: 2px solid #ccc;
    padding: 20px;
}

#location{
    font-weight: bold;
}

#forecast{
    color:green;
}

#error{
    color:red;
}